body {
    font-family: sans-serif;
    background-color: lightcyan !important;
}

.main-body {
    margin: 0em 11em 0em 11em;
    background-color: white;
}

.message-form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    margin: 1em 1em 1em 1em;
    padding-bottom: 1em;
}

.message-form {
    margin: 1em 1em 1em 1em;
}