body {
    font-family: sans-serif;
    background-color: lightcyan !important;
}

.main-body {
    margin: 0em 12em 6em 12em;
    background-color: white;
    padding-bottom: 20px
}

.navbar-mine {
    padding-bottom: 10pt;
}

.content {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}

.row {
    width: 100%;
}

.container {
    margin-left: 10pt !important;
    width: 100%;
}