<!DOCTYPE HTML>
<html>
<head>
    <title>MainPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Forumx</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/all">AllUsers</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content">
    <p>Get your greeting <a href="/greeting">here</a></p>
    <p>Get all elements for test table <a href="/data/show-all">here</a></p>
    <p>Look at sample page<a href="/test/sample">here</a></p>
    <p>Get all elements for test table UI <a href="/test/show-all-test">here</a></p>
    <p>Get all elements for users table UI <a href="/user/all">here</a></p>
    <p>Login <a href="/user/login">here</a></p>
    <p>Register <a href="/user/register">here</a></p>
    <p>Get API documentation <a href="/swagger-ui.html">here</a></p>
</div>
</body>
</html>