<!DOCTYPE HTML>
<html>
<head>
    <title>MainPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
    <p>Get your greeting <a href="/greeting">here</a></p>
    <p>Get all elements for test table <a href="/data/all">here</a></p>
    <p>Get all elements for test table UI <a href="/data/show-all">here</a></p>
    <p>Get all elements for users table UI <a href="/user/all">here</a></p>
    <p>Login <a href="/user/login">here</a></p>
    <p>Get API documentation <a href="/swagger-ui.html">here</a></p>
</body>
</html>