<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="main-body">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/message/all">ForumX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/user/login">Login</a>
                        <a class="dropdown-item" href="/user/register">Register</a>
                        <a class="dropdown-item" href="/user/all">All users</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Coordinates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>


    <div th:if="${error.isError()}">
        <h4 th:if="${error.getMessage()} == 'noAuth'">Not logged in. Proceed to <a class="link-primary"
                                                                             href="/user/login">login
            page</a>
            or <a class="link-primary" href="/user/register">register page</a>
            <p th:if="${error.getMessage()} != 'noAuth'" th:text="'Error message:' + ${error.getMessage()}"></p></h4>
    </div>

    <div th:if="${loginStatus}" class="message-form">
        <form action="#" th:action="@{/message/chat}" th:object="${message}" method="post">
            <div class="form-group">
                <label for="Message">Message</label>
                <textarea autofocus="autofocus" onfocus="this.select()" th:field="*{message}" class="form-control"
                          id="Message" rows="3"></textarea>
            </div>
            <input type="submit" value="Submit"/>
            <input type="hidden" th:value="${userName}" th:name="userName"/>
            <input type="hidden" th:value="${loginStatus}" th:name="loginStatus"/>
        </form>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr th:each="message: ${messages}">
            <th scope="row">
                <p th:text="${message.createTime}"/>
                <p th:text="${message.userName}"/>
            </th>
            <td>
                <p th:text="${message.message}"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>