<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <tr class="thead-dark">
            <td>Id</td>
            <td>Name</td>
            <td>time</td>
        </tr>
        <tr th:each="test: ${testList}">
            <td th:text="${test.id}" />
            <td th:text="${test.name}" />
            <td th:text="${test.time}" />
        </tr>
    </table>
</body>
</html>