<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Forumx</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/user/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/all">AllUsers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message/all">All Messages</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content">
    <form action="#" th:action="@{/user/login/result}" th:object="${user}" method="post">
        <table>
            <tr>
                <td><p>userName:</p></td>
                <td><input type="text" th:field="*{userName}"/></td>
            </tr>
            <tr>
                <td><p>password:</p></td>
                <td><input type="password" th:field="*{password}"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"/></td>
                <td><input type="reset" value="Reset"/></td>
            </tr>
        </table>
    </form>
    <div th:if="${errorStatus}">
        <p th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>